<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAnnotationExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc6975">  <td>24/03/07 18:11:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAsssured_Example.validator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@2796aeae]">validator</td> 
  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="dc6975">  <td>24/03/07 18:11:51</td>   <td>6006</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAsssured_Example.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@2796aeae]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="dc6975">  <td>24/03/07 18:11:43</td>   <td>-1965</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAsssured_Example.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@2796aeae]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="61fe90">  <td>24/03/07 18:11:53</td>   <td>8292</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@c9d0d6]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="61fe90">  <td>24/03/07 18:11:53</td>   <td>7664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@c9d0d6]">validator</td> 
  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="61fe90">  <td>24/03/07 18:11:52</td>   <td>6982</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@c9d0d6]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="61fe90">  <td>24/03/07 18:11:53</td>   <td>7664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@c9d0d6]">validator</td> 
  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="a38167">  <td>24/03/07 18:11:54</td>   <td>9098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@5bf0fe62]">validator</td> 
  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="a38167">  <td>24/03/07 18:11:55</td>   <td>9865</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_SameClass_RestAssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@5bf0fe62]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="a38167">  <td>24/03/07 18:11:54</td>   <td>9098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@5bf0fe62]">validator</td> 
  <td>main@648315947</td>   <td></td> </tr>
<tr bgcolor="a38167">  <td>24/03/07 18:11:53</td>   <td>8514</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_SameClass_RestAssured.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@5bf0fe62]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648315947</td>   <td></td> </tr>
</table>
